{% extends "template.html.twig" %}
{% block body %}
    <nav class="navbar navbar-default navbar-inverse navbar-collapse navbar-md">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    my_phpMyAdmin
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Les tables <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for oneTable in tables %}
                                <li><a href="index.php?run=showTableStruct&dbname={{ dbname }}&tName={{ oneTable['table_name'] }}">{{ oneTable['table_name'] }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="active"><a href="#showInfo">Structure <span class="sr-only">(current)</span></a></li>
                    <li><a href="#makeQuery">Faire une requête</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#menu-toggle" id="menu-toggle"><i class="glyphicon glyphicon-menu-hamburger"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row noShow" id="makeQuery">
            <form id="Query" method="POST" action="" class="form-group">
                <div class="panel panel-info panel-full">

                    <div class="panel-heading">
                        <h3 class="panel-title">Faire une requête</h3>
                    </div>
                    <div class="panel-body">
                <textarea name="query" rows="10" class="form-control">

                </textarea>
                    </div>
                    <div class="panel-footer text-right">
                        <input type="submit" class="btn btn-success">
                        <input type="reset" class="btn btn-danger">
                    </div>

                </div>
            </form>
        </div>

        <div class="row" id="showInfo">
            <div class="panel panel-info panel-full">
                <div class="panel-heading">
                    <h3 class="panel-title">INFORMATION SUR LA BASE {{ dbname }}</h3>
                </div>
                <div class="panel-body" id="panel_body">
                    <button class="btn btn-success btn-sm">Ajouter une table</button>
                    <table class="table table-bordered table-responsive marginTop20">
                        <thead>
                        <tr>
                            <th>Nom de la table</th>
                            <th>Nombre de lignes</th>
                            <th>Taille</th>
                            <th>Afficher</th>
                            <th>Structure</th>
                            <th>Insérer</th>
                            <th>Supprimer</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for oneTable in tables %}
                            <tr>
                                <td>
                                    <a href="index.php?run=showTableStruct&dbname={{ dbname }}&tName={{ oneTable['table_name'] }}">{{ oneTable['table_name'] }}</a>
                                </td>
                                <td>
                                    {{ oneTable['table_rows'] }}
                                </td>
                                <td>
                                    {{ oneTable['data_length'] | round(1,'floor') }} Ko
                                </td>
                                <td>
                                    <span class="btn btn-info full-width" data="{{ oneTable["table"] }}"><i class="glyphicon glyphicon-list-alt"></i></span>
                                </td>
                                <td>
                                    <a class="btn btn-primary full-width" href="index.php?run=showTableStruct&dbname={{ dbname }}&tName={{ oneTable['table_name'] }}"><i class="glyphicon glyphicon-list-alt"></i><i class="glyphicon glyphicon-resize-horizontal"></i><i class="glyphicon glyphicon-list-alt"></i></a>
                                </td>
                                <td>
                                    <a class="btn btn-default full-width" ><i class="glyphicon glyphicon-list-alt"></i><i class="glyphicon glyphicon-arrow-left"></i></a>
                                </td>
                                <td>
                                    <span class="btn btn-danger full-width" data="{{ oneTable["table"] }}"><i class="glyphicon glyphicon-remove-circle"></i></span>
                                </td>
                            </tr>
                             {% else %}
                             <tr >
                               <td colspan="7">
                                   <span>Cette base ne comporte aucune table.</span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}