{% extends "template.html.twig" %}
{% block body %}
    <nav class="navbar navbar-default navbar-inverse navbar-collapse navbar-md">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Dashboard
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#showDB">Les bases de données <span class="sr-only">(current)</span></a></li>
                    <li><a href="#makeQuery">Faire une requête</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#menu-toggle" id="menu-toggle"><i class="glyphicon glyphicon-menu-hamburger"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
    <div class="row noShow" id="makeQuery">
        <form id="makeQuery" method="POST" action="" class="form-group">
            <div class="panel panel-info panel-full">

                <div class="panel-heading">
                    <h3 class="panel-title">Faire une requête</h3>
                </div>
                <div class="panel-body">
                <textarea name="query" rows="10" class="form-control">

                </textarea>
                </div>
                <div class="panel-footer text-right">
                    <input type="submit" class="btn btn-success">
                    <input type="reset" class="btn btn-danger">
                </div>

            </div>
        </form>
    </div>


    <div class="row noShow" id="showDB">
        <div class="panel panel-info panel-full">

            <div class="panel-heading">
                <h3 class="panel-title">Vos bases de données</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-responsive ">
                    <thead>
                    <tr>
                        <th>Nom de la base</th>
                        <th>Nombre de tables</th>
                        <th>Date de création</th>
                        <th>Espace mémoire</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for oneDB in databases %}
                        <tr>
                            <td>
                                <a href="index.php?run=showDB&name={{ oneDB['db'] }}">{{ oneDB['db'] }}</a>
                            </td>
                            <td>
                                {{ oneDB['nb'] }}
                            </td>
                            <td>
                                {% if oneDB['crea'] == NULL %}
                                    Non disponible
                                {% else %}
                                    {{ oneDB['crea'] | date("d-m-Y à H:m:s") }}
                                {% endif %}
                            </td>
                            <td>
                                {{ oneDB['memory'] | round(1,'floor') }} Ko
                            </td>
                            <td>
                                <span class="btn btn-danger full-width" data="{{ oneDB["Database"] }}"><i class="glyphicon glyphicon-remove-circle"></i></span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row" id="home">
        <div class="col-md-7">
            <div class="panel panel-success panel-full">

                <div class="panel-heading">
                    <h3 class="panel-title">Bienvenue sur my_phpMyAdmin </h3>
                </div>
                <div class="panel-body">
                    <p>
                        Vous pouvez créér, éditer , modifier vos bases de données mais aussi les tables associées.
                    </p>
                    <p>
                        &Eacute;galement vous pouvez faire des requêtes SQL directement sur cette interface.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-info panel-full">

                <div class="panel-heading">
                    <h3 class="panel-title">Informations </h3>
                </div>
                <div class="panel-body">
                    <p>Adresse du serveur : {{ ip }}</p>
                    <p>Type de serveur : MYSQL Server</p>
                    <p>Version du serveur : {{ version }}</p>
                    <p>Utilisateur connecté : {{ user }}</p>
                    <p>Jeu de caractère du serveur : {{ charset }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-primary panel-full">

                <div class="panel-heading">
                    <h3 class="panel-title">Dernières actions</h3>
                </div>
                <div class="panel-body panel-body-max-h">
                    {% for oneline in logs %}
                        <p class="alert-success">{{ oneline }}</p>
                    {% else %}
                        <p>Aucune action a été effectuée</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-primary panel-full">

                <div class="panel-heading">
                    <h3 class="panel-title">my_phpMyAdmin & Serveur Web</h3>
                </div>
                <div class="panel-body">
                    <p>Type de serveur : {{ server_type }}</p>
                    <p>Version my_phpMyAdmin: 0.1</p>
                    <p>Système d'exploitation : {{ os }}</p>
                    <p>Version du serveur : {{ version }}</p>
                    <p>Version de php : {{ phpv }}</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}