{% extends "template.html.twig" %}
{% block body %}
    <nav class="navbar navbar-default navbar-inverse navbar-collapse navbar-md">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#showDB"><i class="glyphicon glyphicon-th-list"></i> Les bases de données <span
                                    class="sr-only">(current)</span></a></li>
                    <li><a href="#makeQuery"><i class="glyphicon glyphicon-edit"></i> Faire une requête</a></li>
                    <li><a href="index.php?run=logout"><i class="fa fa-sign-out"></i> Déconnecter</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#menu-toggle" id="menu-toggle"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
    <div class="row noShow" id="makeQuery">
        <form id="Query" method="POST" action="" class="form-group">
            <div class="panel panel-info panel-full">

                <div class="panel-heading">
                    <h3 class="panel-title">Faire une requête</h3>
                </div>
                <div class="panel-body">
                <textarea name="query" rows="5" class="form-control">
                </textarea>
                </div>
                <div class="panel-footer text-right">
                    <input type="reset" class="btn btn-danger" value="Remise à zéro">
                    <input type="submit" class="btn btn-success" value="Valider">
                </div>
            </div>
        </form>
        <div class="noShow " id="query_result">
            <div class="panel panel-info panel-full">

                <div class="panel-heading">
                    <h3 class="panel-title">Résultat de la requête</h3>
                </div>
                <div class="panel-body panel-cont">
                </div>
            </div>
        </div>
    </div>

    <div class="row noShow" id="showDB">
        <div class="panel panel-info panel-full">

            <div class="panel-heading">
                <h3 class="panel-title">Vos bases de données</h3>
            </div>
            <div class="panel-body">
                <div class="marginTop20">
                    <table class="table table-striped table-bordered table-responsive tableaux">
                        <thead>
                        <tr>
                            <th>Nom de la base</th>
                            <th>Nombre de tables</th>
                            <th>Date de création</th>
                            <th>Espace mémoire</th>
                            <th>Supprimer</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for oneDB in databases %}
                            <tr>
                                <td>
                                    <a href="index.php?run=showDB&value={{ oneDB['db'] }}">{{ oneDB['db'] }}</a>
                                </td>
                                <td>
                                    {{ oneDB['nb'] }}
                                </td>
                                <td>
                                    {% if oneDB['crea'] == NULL %}
                                        Non disponible
                                    {% else %}
                                        {{ oneDB['crea'] | date("d-m-Y à H:m:s") }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ oneDB['memory'] | round(1,'floor') }} Ko
                                </td>
                                <td>
                                    <a class="btn btn-danger full-width btn-delete-db-in-list" name="{{ oneDB['db'] }}"><i
                                                class="glyphicon glyphicon-remove-circle"></i></a>
                                    <div class="modal fade" data-backdrop="static" data-keyboard="false"
                                         id="modal_drop_db" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel">Confirmation <i
                                                                class="glyphicon glyphicon-question-sign"></i></h4>
                                                </div>
                                                <form method="POST" action="" class="form_delete_db">
                                                    <div class="modal-body">
                                                        Vous voulez vraiment suprimer <span class="text-info"></span> ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <input type="hidden" name="db_name_delete">
                                                        <button type="button" class="btn btn-danger"
                                                                data-dismiss="modal">Non
                                                        </button>
                                                        <button type="submit" class="btn btn-success">Oui</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="home">
        <div class="col-md-7">
            <div class="panel panel-success panel-full">

                <div class="panel-heading">
                    <h3 class="panel-title">Bienvenue sur my_phpMyAdmin </h3>
                </div>
                <div class="panel-body">
                    <p>
                        Vous pouvez créér, éditer , modifier vos bases de données mais aussi les tables associées.
                    </p>
                    <p>
                        &Eacute;galement vous pouvez faire des requêtes SQL directement sur cette interface.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-info panel-full">

                <div class="panel-heading">
                    <h3 class="panel-title">Informations </h3>
                </div>
                <div class="panel-body">
                    <p>Adresse du serveur : {{ ip }}</p>
                    <p>Type de serveur : MYSQL Server</p>
                    <p>Version du serveur : {{ version }}</p>
                    <p>Utilisateur connecté : {{ user }}</p>
                    <p>Jeu de caractère du serveur : {{ charset }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-primary panel-full">

                <div class="panel-heading">
                    <h3 class="panel-title">Dernières actions</h3>
                </div>
                <div class="panel-body panel-body-max-h">
                    {% for oneline in logs %}
                        <p class="alert-success">{{ oneline }}</p>
                    {% else %}
                        <p>Aucune action a été effectuée</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-primary panel-full">

                <div class="panel-heading">
                    <h3 class="panel-title">my_phpMyAdmin & Serveur Web</h3>
                </div>
                <div class="panel-body">
                    <p>Type de serveur : {{ server_type }}</p>
                    <p>Version my_phpMyAdmin: 0.1</p>
                    <p>Système d'exploitation : {{ os }}</p>
                    <p>Version du serveur : {{ version }}</p>
                    <p>Version de php : {{ phpv }}</p>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal_info" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel2">Résultat</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}