{% extends "template.html.twig" %}
    {% block extends_header %}
        <li><a href="#showDB"> Base de données <span
                        class="sr-only">(current)</span></a></li>
        <li><a href="#makeQuery"> Requête SQL</a></li>
    {% endblock extends_header %}

{% block body %}


    <div class="block-header">
        <h2>Dashboard</h2>
    </div>




    <div class="row clearfix" id="home">

        <div class="col-md-7">
            <div class=" card">
            <div class="body bg-cyan">
                <div class="panel-heading">
                    <h3 class="panel-title">Bienvenue sur Kepker </h3>
                </div>
                <div class="panel-body">
                    <p>
                        Vous pouvez créér, éditer , modifier vos bases de données mais aussi les tables associées.
                    </p>
                    <p>
                        &Eacute;galement vous pouvez faire des requêtes SQL directement sur cette interface.
                    </p>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="body bg-grey">
                <div class="panel-heading">
                    <h3 class="panel-title">Informations </h3>
                </div>
                <div class="panel-body">
                    <p>Adresse du serveur : {{ ip }}</p>
                    <p>Type de serveur : MYSQL Server</p>
                    <p>Version du serveur : {{ version }}</p>
                    <p>Utilisateur connecté : {{ user }}</p>
                    <p>Jeu de caractère du serveur : {{ charset }}</p>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="body bg-green">
                <div class="panel-heading">
                    <h3 class="panel-title">Dernières actions</h3>
                </div>
                <div class="panel-body panel-body-max-h">
                    {% for oneline in logs %}
                         <p class=""><i class="fa fa-arrow-right"></i> {{ oneline }}</p>
                    {% else %}
                        <p class=""><i class="fa fa-arrow-circle-o-right"></i> Aucune action a été effectuée</p>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">

                <div class="body bg-purple">
                <div class="panel-heading">
                    <h3 class="panel-title">Kepker & Serveur Web</h3>
                </div>
                <div class="panel-body">
                    <p>Type de serveur : {{ server_type }}</p>
                    <p>Version Kepler : 0.2</p>
                    <p>Système d'exploitation : {{ os }}</p>
                    <p>Version du serveur : {{ version }}</p>
                    <p>Version de php : {{ phpv }}</p>

                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal_info" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel2">Résultat</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}