{% extends "template.html.twig" %}
{% block body %}
    <nav class="navbar navbar-default navbar-inverse navbar-collapse navbar-md">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    my_phpMyAdmin
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#show">Afficher</a></li>
                    <li class="active"><a href="#showStruct">Structure <span class="sr-only">(current)</span></a></li>
                    <li><a href="#makeQuery">Faire une requête</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#menu-toggle" id="menu-toggle"><i class="glyphicon glyphicon-menu-hamburger"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row noShow" id="makeQuery">
            <form id="Query" method="POST" action="" class="form-group">
                <div class="panel panel-info panel-full">

                    <div class="panel-heading">
                        <h3 class="panel-title">Faire une requête</h3>
                    </div>
                    <div class="panel-body">
                <textarea name="query" rows="10" class="form-control">

                </textarea>
                    </div>
                    <div class="panel-footer text-right">
                        <input type="submit" class="btn btn-success">
                        <input type="reset" class="btn btn-danger">
                    </div>

                </div>
            </form>
        </div>
        <div class="row" id="showStruct">
            <div class="panel panel-info panel-full">
                <div class="panel-heading">
                    <h3 class="panel-title">INFORMATION SUR LA TABLE {{ t_name }}</h3>
                </div>
                <div class="panel-body" id="panel_body">
                    <button class="btn btn-success btn-sm">Ajouter un champs</button>
                    <table class="table table-bordered table-responsive marginTop20">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Type</th>
                            <th>DEFAULT</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for struct in tables_struct %}
                            <tr>
                                <td>
                                    <strong>{{ struct['COLUMN_NAME'] }}</strong>
                                </td>
                                <td>
                                    {{ struct['DATA_TYPE'] }}
                                </td>
                                <td>
                                    {{ struct['COLUMN_DEFAULT'] }}
                                </td>
                                <td>
                                    <span class="btn btn-primary full-width" data="{{ struct["table"] }}"><i class="glyphicon glyphicon-edit"></i></span>
                                </td>
                                <td>
                                    <span class="btn btn-danger full-width" data="{{ struct["table"] }}"><i class="glyphicon glyphicon-remove-circle"></i></span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}