{% extends "template.html.twig" %}
  {% block extends_header %}
      <li><a href="index.php?run=content_table&dbname={{ dbname }}&t_name={{ t_name }}"> Afficher</a></li>
      <li><a href="index.php?run=showTableStruct&dbname={{ dbname }}&tName={{ t_name }}">Structure <span class="sr-only">(current)</span></a></li>
      <li><a href="#makeQuery"> Requête SQL</a></li>
  {% endblock %}

{% block body %}

    <div class="block-header">
        <h2>Données de la table  <strong>{{ t_name }}</strong></h2>
        <br>
            <div class="alert alert-success message-ajax-alert-success none">

            </div>
    </div>




        <div class="row clearfix" id="showStruct">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div id="show_sql_request">
                <div class="alert alert-dismissible alert-info" role="alert">
                    <p><span class="t"><strong>SELECT</strong></span> *
                        <span class=""><strong>FROM</strong></span>
                        <span class="text-info-table ">{{ dbname }}`.`{{ t_name }}`</span>;</p>
                </div>
            </div>
            <div class="card">
                <div class="header bg-red">
                    Listes des données de la table {{ t_name }}
                </div>
                <div class="panel-body" id="panel_body">
                    <button class="btn btn-success  btn-add-data">
                        Ajouter une ligne de données
                    </button>
                    <p class="help-block help_edit"><small>Pour modifier une donnée... Double cliquer sur sa cellule.</small></p>
                    <div class="marginTop20">
                    <table class="table table-striped table-bordered table-responsive tableaux">
                        <thead>
                        <tr>
                            {#{% for struct in tables_struct %}
                                <th>{{ struct['COLUMN_NAME'] }}</th>
                            {% endfor %}
                            <th>Supprimer</th>#}
                            {% set val = 0 %}
                            {% for struct in tables_struct %}
                                <th>{{ struct['COLUMN_NAME'] }}</th>
                                {% if struct['COLUMN_KEY'] == "PRI" and val == 0 %}
                                    {% set val = 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if val == 1 %}
                                <th>Supprimer</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for data in tables_data %}
                            <tr>
                                {% for struct in tables_struct %}
                                    {% set column_name = struct['COLUMN_NAME'] %}
                                    {% if val >= 1 %}
                                        <td name="{{ column_name }}" class="data">
                                            {{ data[column_name] }}
                                        </td>
                                        {% else %}
                                            <td name="{{ column_name }}" >
                                                {{ data[column_name] }}
                                            </td>
                                    {% endif %}
                                {% endfor %}
                                {% if val >= 1 %}
                                    <td>
                                    {% for struct in tables_struct %}
                                        {% if struct['COLUMN_KEY'] == 'PRI' %}
                                            {% set id_val = struct['COLUMN_NAME'] %}
                                            <input type="hidden" name="col_name" value="{{ id_val }}">
                                            <input type="hidden" name="name_db" value="{{ dbname }}">
                                            <input type="hidden" name="tale_name" value="{{ t_name }}">
                                            <a class="btn btn-danger full-width btn-del-data" id_col_name="{{ column_name }}" name="{{ data[id_val] }}"><i class="glyphicon glyphicon-trash"></i> </a>
                                        {% else %}
                                            <input type="hidden" name="name_db" value="{{ dbname }}">
                                            <input type="hidden" name="tale_name" value="{{ t_name }}">
                                        {% endif %}
                                        {% endfor %}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
    </div>
        </div>


        <div class="modal fade"  data-backdrop="static" data-keyboard="false"  id="modal_update_data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel1">Modification</h4>
                    </div>
                    <form method="POST" action="" class="form_rename_table">
                        <div class="modal-body">
                            <label>Vous pouvez modifier les données du champs sélectionné</label>
                            <div class="inputs_modif"></div>
                            <input type="hidden" name="name_db" value="{{ dbname }}">
                            <input type="hidden" name="tale_name" value="{{ t_name }}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-success">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal_info" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel2">Résultat</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal_delete_data" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title myModalLabel">Confirmation <i
                                    class="glyphicon glyphicon-question-sign"></i></h4>
                    </div>
                    <form method="POST" action="" class="form_delete_data">
                        <div class="modal-body">
                            Vous voulez vraiment suprimer cette donnée qui à l'id N° <span class="text-info"></span> ?
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="col_name">
                            <input type="hidden" name="table_name" value="{{ t_name }}">
                            <input type="hidden" name="name_db" value="{{ dbname }}">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
                            <button type="submit" class="btn btn-success">Oui</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal_add_data" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title myModalLabel">Ajout d'une nouvelle ligne <i
                                    class="glyphicon glyphicon-question-sign"></i></h4>
                    </div>
                    <form method="POST" action="" class="form_add_data form-horizontal">
                        <div class="modal-body">
                            {% for struct in tables_struct %}
                                {% if struct['EXTRA'] == 'auto_increment' %}

                                {% else %}
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label label_field_add_data" name="{{ struct['COLUMN_NAME'] }}">{{ struct['COLUMN_NAME'] }}</label>
                                        <div class="col-sm-10">
                                            <div class="form-line">
                                                <input type="text" class="form-control input-add" name="new_data" placeholder="Saisissez {{ struct['COLUMN_NAME'] }}">
                                            </div>

                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">

                            <input type="hidden" name="table_name" value="{{ t_name }}">
                            <input type="hidden" name="name_db" value="{{ dbname }}">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-success">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{% endblock %}