{% extends "template.html.twig" %}
       {% block extends_header %}
           <li><a href="index.php?run=content_table&dbname={{ dbname }}&t_name={{ t_name }}"> Afficher</a></li>
           <li><a href="index.php?run=showTableStruct&dbname={{ dbname }}&tName={{ t_name }}">Structure <span
                           class="sr-only">(current)</span></a></li>
           <li><a href="#makeQuery">Requête SQL</a></li>
       {% endblock %}
{% block body %}


    <div class="block-header">
        <h2>Informations sur la table <strong>{{ t_name }}</strong></h2>
    </div>




        <div class="row clearfix" id="showStruct">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="show_sql_request">
                <div class="alert alert-success" role="alert">
                    <p><span class=""><strong>DESC</strong></span> <span class="">`{{ dbname }}`.{{ t_name }}`</span>;</p>
                </div>
            </div>
            <div class="card">

                <div class="header bg-red">Liste des colonnes</div>
                <div class="panel-body" id="panel_body">

                    <div class="button-demo">
                        <button class="btn btn-success btn-add-field">
                            Ajouter un champs
                        </button>
                        <button class="btn btn-danger btn-delete-the-table">
                            Supprimer la table
                        </button>
                        <button class="btn btn-primary btn-rename-table">
                            Renommer la table
                        </button>
                    </div>



                    <div class="marginTop20">
                        <table class="table table-striped table-bordered table-responsive tableaux">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Type</th>
                                <th>NULL</th>
                                <th>EXTRA</th>
                                <th>DEFAULT</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for struct in tables_struct %}
                                <tr>
                                    <td>
                                        <strong>{{ struct['COLUMN_NAME'] }}</strong>
                                        {% if struct['COLUMN_KEY'] == "PRI" %}
                                            (<i class="fa fa-key"></i>Clé primaire)
                                        {% elseif struct['COLUMN_KEY'] == "MUL" %}
                                            (#Clé étrangère)
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ struct['COLUMN_TYPE'] }}
                                        {% set type = struct['COLUMN_TYPE']|split('(') %}
                                    </td>
                                    <td>
                                        {% if struct['IS_NULLABLE'] == "YES" %}
                                            Oui
                                        {% else %}
                                            Non
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ struct['EXTRA'] }}
                                    </td>
                                    <td>
                                        {% if struct['COLUMN_DEFAULT'] is empty %}
                                            Aucune
                                        {% else %}
                                            {{ struct['COLUMN_DEFAULT'] }}
                                        {% endif %}
                                    </td>
                                    <td>
                                    <span class="btn btn-primary full-width btn-edit-field" name="{{ struct['COLUMN_NAME'] }}" field_type="{{ type[0] }}"><i class="glyphicon glyphicon-edit"></i></span>
                                        <div class="modal fade" data-backdrop="static" data-keyboard="false"
                                             id="modal_edit_field{{ struct['COLUMN_NAME'] }}" tabindex="-1"
                                             role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myModalLabel1">Editer le champ
                                                            <span class="text-info"></span></h4>
                                                    </div>
                                                    <form method="POST" action="" class="form_edit_field">
                                                        <div class="modal-body">
                                                            <table class="table table-bordered table-responsive marginTop20"
                                                                   id="tab_edit_field">
                                                                <thead>
                                                                <tr>
                                                                    <th>
                                                                        Nom
                                                                    </th>
                                                                    <th>
                                                                        Type
                                                                    </th>
                                                                    <th>
                                                                        Taille
                                                                    </th>
                                                                    <th>
                                                                        Null
                                                                    </th>
                                                                    <th>
                                                                        Default
                                                                    </th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td>
                                                                        {% if struct['COLUMN_KEY'] == "PRI" %}
                                                                            <div class="form-group">
                                                                                <div class="form-line">
                                                                                    <input type="text" name="new_field_name"
                                                                                           class="form-control"
                                                                                           value="{{ struct['COLUMN_NAME'] }}"
                                                                                           readonly required="required">
                                                                                </div>
                                                                            </div>

                                                                        {% else %}
                                                                        <div class="form-group">
                                                                            <div class="form-line">
                                                                            <input type="text" name="new_field_name"
                                                                                   class="form-control"
                                                                                   value="{{ struct['COLUMN_NAME'] }}"
                                                                                   required="required">
                                                                            </div>
                                                                        </div>
                                                                        {% endif %}
                                                                        <input type="hidden" name="new_field_type"
                                                                               class="form-control"
                                                                               value="{{ type[0] }}">
                                                                        <input type="hidden" name="old_field_name"
                                                                               class="form-control">
                                                                    </td>
                                                                    <td>
                                                                        <select class="form-control show-tick" data-live-search="true" name="field_type" required="required">
                                                                            <option value="INT"
                                                                            >    INT
                                                                            </option>
                                                                            <option value="VARCHAR"
                                                                            >    VARCHAR
                                                                            </option>
                                                                            <option value="TEXT"
                                                                             >   TEXT
                                                                            </option>
                                                                            <option value="DATE"
                                                                               > DATE
                                                                            </option>
                                                                            <optgroup label="Numérique">
                                                                                <option value="TINYINT"
                                                                                   > TINYINT
                                                                                </option>
                                                                                <option value="SMALLINT"
                                                                                   > SMALLINT
                                                                                </option>
                                                                                <option value="MEDIUMINT"
                                                                                   > MEDIUMINT
                                                                                </option>
                                                                                <option value="INT"
                                                                                    >INT
                                                                                </option>
                                                                                <option value="BIGINT"
                                                                                    >BIGINT
                                                                                </option>
                                                                                <option disabled="disabled">-</option>
                                                                                <option value="DECIMAL"
                                                                                    >DECIMAL
                                                                                </option>
                                                                                <option value="FLOAT"
                                                                                    >FLOAT
                                                                                </option>
                                                                                <option value="DOUBLE"
                                                                                   > DOUBLE
                                                                                </option>
                                                                                <option value="REAL"
                                                                                   > REAL
                                                                                </option>
                                                                                <option disabled="disabled">-</option>
                                                                                <option value="BIT"
                                                                                   > BIT
                                                                                </option>
                                                                                <option value="BOOLEAN"
                                                                                    >BOOLEAN
                                                                                </option>
                                                                                <option value="SERIAL"
                                                                                    >SERIAL
                                                                                </option>
                                                                            </optgroup>
                                                                            <optgroup
                                                                                    label="Contient la date et l'heure">
                                                                                <option value="DATE"
                                                                                    >DATE
                                                                                </option>
                                                                                <option value="DATETIME"
                                                                                     >DATETIME
                                                                                </option>
                                                                                <option value="TIMESTAMP"
                                                                                    >TIMESTAMP
                                                                                </option>
                                                                                <option value="TIME"
                                                                                    >TIME
                                                                                </option>
                                                                                <option value="YEAR"
                                                                                    >YEAR
                                                                                </option>
                                                                            </optgroup>
                                                                            <optgroup label="Chaîne de caractères">
                                                                                <option value="CHAR"
                                                                                    >CHAR
                                                                                </option>
                                                                                <option value="VARCHAR"
                                                                                    >VARCHAR
                                                                                </option>
                                                                                <option disabled="disabled">-</option>
                                                                                <option value="TINYTEXT"
                                                                                   > TINYTEXT
                                                                                </option>
                                                                                <option value="TEXT"
                                                                                    > TEXT
                                                                                </option>
                                                                                <option value="MEDIUMTEXT"
                                                                                   > MEDIUMTEXT
                                                                                </option>
                                                                                <option value="LONGTEXT"
                                                                                    >LONGTEXT
                                                                                </option>
                                                                                <option disabled="disabled">-</option>
                                                                                <option value="BINARY"
                                                                                    >BINARY
                                                                                </option>
                                                                                <option value="VARBINARY"
                                                                                   > VARBINARY
                                                                                </option>
                                                                                <option disabled="disabled">-</option>
                                                                                <option value="TINYBLOB"
                                                                                    > TINYBLOB
                                                                                </option>
                                                                                <option value="MEDIUMBLOB"
                                                                                    >MEDIUMBLOB
                                                                                </option>
                                                                                <option value="BLOB"
                                                                                    >BLOB
                                                                                </option>
                                                                                <option value="LONGBLOB"
                                                                                   > LONGBLOB
                                                                                </option>
                                                                                <option disabled="disabled">-</option>
                                                                                <option value="ENUM"
                                                                                   > ENUM
                                                                                </option>
                                                                                <option value="SET"
                                                                                   > SET
                                                                                </option>
                                                                            </optgroup>
                                                                        </select>
                                                                    </td>
                                                                    <td>
                                                                        {% set size = type[1]|split(')') %}
                                                                        <div class="form-group">
                                                                            <div class="form-line">
                                                                        <input type="text" name="new_field_size"
                                                                               class="form-control"
                                                                               value="{{ size[0] }}">
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <select class="form-control" name="new_isNull_name">
                                                                            <option {% if struct['IS_NULLABLE'] == "YES" %} selected="selected" {% endif %} value="YES">
                                                                                Oui
                                                                            </option>
                                                                            <option {% if struct['IS_NULLABLE'] != "YES" %} selected="selected" {% endif %}
                                                                                    value="NO">Non
                                                                            </option>
                                                                        </select>
                                                                    </td>
                                                                    <td>
                                                                        <select class="form-control"
                                                                                name="select_default_edit" id="sd_edit">
                                                                            <option >Aucune</option>
                                                                            <option value="def">Tel que défini :
                                                                            </option>
                                                                            <option value="NULL">NULL</option>
                                                                            <option value="CURRENT_TIMESTAMP">
                                                                                CURRENT_TIMESTAMP
                                                                            </option>
                                                                        </select>
                                                                        <div class="form-group">
                                                                            <div class="form-line">
                                                                        <input type="text" class="form-control input-sm marginTop20" name="select_default_edit" style="display: none" value="NULL"/>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <input type="hidden" name="name_db" value="{{ dbname }}">
                                                            <input type="hidden" name="tale_name" value="{{ t_name }}">
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">Fermer
                                                            </button>
                                                            <button type="submit" class="btn btn-success">Valider
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="btn btn-danger full-width btn-del-field" name="{{ struct["COLUMN_NAME"] }}"><i class="glyphicon glyphicon-trash"></i> </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
        </div>

        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal_rename_table" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel1">Renommer la table <span class="text-info">{{ t_name }}</span></h4>
                    </div>
                    <form method="POST" action="" id="form_rename_table">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="form-line">
                            <input type="text" id="new_table_name" class="form-control"
                                   placeholder="Nouveau nom de table">
                            <input type="hidden" name="name_db" value="{{ dbname }}">
                            <input type="hidden" name="table_name" value="{{ t_name }}">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-success">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal_info" tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel2">Résultat</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal_delete_table" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title myModalLabel">Confirmation <i
                                    class="glyphicon glyphicon-question-sign"></i></h4>
                    </div>
                    <form method="POST" action="" class="form_delete_table">
                        <div class="modal-body">
                            Vous voulez vraiment suprimer <span class="text-info text-info_tbl">{{ t_name }}</span> ?
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="table_name_delete" value="{{ t_name }}">
                            <input type="hidden" name="name_db" value="{{ dbname }}">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
                            <button type="submit" class="btn btn-success">Oui</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal_delete_field" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title myModalLabel">Confirmation <i
                                    class="glyphicon glyphicon-question-sign"></i></h4>
                    </div>
                    <form method="POST" action="" class="form_delete_field">
                        <div class="modal-body">
                            Vous voulez vraiment suprimer ce champs <span class="text-info-del-field"></span> ?
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="name_field">
                            <input type="hidden" name="table_name_field" value="{{ t_name }}">
                            <input type="hidden" name="name_db" value="{{ dbname }}">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
                            <button type="submit" class="btn btn-success">Oui</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal_add_field" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title myModalLabel">Ajouter un champs <i
                                    class="glyphicon glyphicon-question-sign"></i></h4>
                    </div>
                    <form method="POST" action="" class="form_add_field">
                        <div class="modal-body">
                            <table class="table table-bordered table-responsive marginTop20 table-modal" id="tab_add_new_field">
                                <thead>
                                <th>
                                    Nom
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Taille
                                </th>
                                <th>
                                    Défaut
                                </th>
                                <th>
                                    Null
                                </th>
                                <th>
                                    Index
                                </th>
                                <th>
                                    A_I
                                </th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="field_name"
                                                       required="required"/>
                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        <select class="form-control show-tick" data-live-search="true" name="field_type_add">
                                            <option value="INT">
                                                INT
                                            </option>
                                            <option value="VARCHAR"
                                                    >
                                                VARCHAR
                                            </option>
                                            <option value="TEXT"
                                                    >
                                                TEXT
                                            </option>
                                            <option value="DATE"
                                                  >
                                                DATE
                                            </option>
                                            <optgroup label="Numérique">
                                                <option value="TINYINT"
                                                        >
                                                    TINYINT
                                                </option>
                                                <option value="SMALLINT"
                                                       >
                                                    SMALLINT
                                                </option>
                                                <option value="MEDIUMINT"
                                                        >
                                                    MEDIUMINT
                                                </option>
                                                <option value="INT"
                                                   >
                                                    INT
                                                </option>
                                                <option value="BIGINT"
                                                  >  BIGINT
                                                </option>
                                                <option disabled="disabled">-</option>
                                                <option value="DECIMAL"
                                                  >  DECIMAL
                                                </option>
                                                <option value="FLOAT"
                                                   > FLOAT
                                                </option>
                                                <option value="DOUBLE"
                                                   > DOUBLE
                                                </option>
                                                <option value="REAL"
                                                  >  REAL
                                                </option>
                                                <option disabled="disabled">-</option>
                                                <option value="BIT"
                                                  >  BIT
                                                </option>
                                                <option value="BOOLEAN"
                                                    >BOOLEAN
                                                </option>
                                                <option value="SERIAL"
                                                    >SERIAL
                                                </option>
                                            </optgroup>
                                            <optgroup label="Contient la date et l'heure">
                                                <option value="DATE"
                                                    >DATE
                                                </option>
                                                <option value="DATETIME"
                                                  >  DATETIME
                                                </option>
                                                <option value="TIMESTAMP"
                                                    >TIMESTAMP
                                                </option>
                                                <option value="TIME"
                                                    > TIME
                                                </option>
                                                <option value="YEAR"
                                                   > YEAR
                                                </option>
                                            </optgroup>
                                            <optgroup label="Chaîne de caractères">
                                                <option value="CHAR"
                                                    >CHAR
                                                </option>
                                                <option value="VARCHAR"
                                                   > VARCHAR
                                                </option>
                                                <option disabled="disabled">-</option>
                                                <option value="TINYTEXT"
                                                    >TINYTEXT
                                                </option>
                                                <option value="TEXT"
                                                    >TEXT
                                                </option>
                                                <option value="MEDIUMTEXT"
                                                    > MEDIUMTEXT
                                                </option>
                                                <option value="LONGTEXT"
                                                    >LONGTEXT
                                                </option>
                                                <option disabled="disabled">-</option>
                                                <option value="BINARY"
                                                    >BINARY
                                                </option>
                                                <option value="VARBINARY"
                                                   > VARBINARY
                                                </option>
                                                <option disabled="disabled">-</option>
                                                <option value="TINYBLOB"
                                                    >TINYBLOB
                                                </option>
                                                <option value="MEDIUMBLOB"
                                                    >MEDIUMBLOB
                                                </option>
                                                <option value="BLOB"
                                                    >BLOB
                                                </option>
                                                <option value="LONGBLOB"
                                                   > LONGBLOB
                                                </option>
                                                <option disabled="disabled">-</option>
                                                <option value="ENUM"
                                                   > ENUM
                                                </option>
                                                <option value="SET"
                                                    >SET
                                                </option>
                                            </optgroup>
                                            <optgroup label="Spatial">
                                                <option value="GEOMETRY"
                                                    >GEOMETRY
                                                </option>
                                                <option value="POINT"
                                                 ></option>
                                                <option value="LINESTRING"
                                                   > LINESTRING
                                                </option>
                                                <option value="POLYGON" >POLYGON</option>
                                                <option value="MULTIPOINT">
                                                    MULTIPOINT
                                                </option>
                                                <option value="MULTILINESTRING"
                                                   >  MULTILINESTRING
                                                </option>
                                                <option value="MULTIPOLYGON" >
                                                    MULTIPOLYGON
                                                </option>
                                                <option value="GEOMETRYCOLLECTION"
                                                   > GEOMETRYCOLLECTION
                                                </option>
                                            </optgroup>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <div class="form-line">
                                        <input type="text" class="form-control field_size" name="field_size"
                                               data="NV"/>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-control" name="select_default_add" id="sd">
                                            <option selected="selected">Aucune</option>
                                            <option value="def">Tel que défini :</option>
                                            <option value="NULL">NULL</option>
                                            <option value="CURRENT_TIMESTAMP">CURRENT_TIMESTAMP</option>
                                        </select>
                                        <input type="text" class="form-control input-sm noShow marginTop20"
                                               name="default" value="NULL"/>
                                    </td>
                                    <td class="w100">
                                        <select class="form-control" name="is_null">
                                            <option value="no" selected="selected">Non</option>
                                            <option value="yes">Oui</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control" name="select_index">
                                            <option selected="selected" value="NULL">---</option>
                                            <option value="PRIMARY">PRIMARY</option>
                                            <option value="UNIQUE">UNIQUE</option>
                                        </select>
                                    </td>
                                    <td class="w100">
                                        <select class="form-control" name="is_ai">
                                            <option value="no" selected="selected">Non</option>
                                            <option value="yes">Oui</option>
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="name_field">
                            <input type="hidden" name="table_name_field" value="{{ t_name }}">
                            <input type="hidden" name="name_db" value="{{ dbname }}">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-success">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{% endblock %}