{% extends "template.html.twig" %}
{% block body %}
    <nav class="navbar navbar-default navbar-inverse navbar-collapse navbar-md">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index.php?run=content_table&dbname={{ dbname }}&t_name={{ t_name }}"><i
                                    class="glyphicon glyphicon-list-alt"></i> Afficher</a></li>
                    <li><a href="index.php?run=showTableStruct&dbname={{ dbname }}&tName={{ t_name }}">Structure <span
                                    class="sr-only">(current)</span></a></li>
                    <li><a href="#makeQuery"><i class="glyphicon glyphicon-edit"></i> Faire une requête</a></li>
                    <li><a href="index.php?run=logout"><i class="fa fa-sign-out"></i> Déconnecter</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#menu-toggle" id="menu-toggle"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row noShow" id="makeQuery">
            <form id="Query" method="POST" action="" class="form-group">
                <div class="panel panel-info panel-full">

                    <div class="panel-heading">
                        <h3 class="panel-title">Faire une requête</h3>
                    </div>
                    <div class="panel-body">
                <textarea name="query" rows="5" class="form-control">
                </textarea>
                    </div>
                    <div class="panel-footer text-right">
                        <input type="reset" class="btn btn-danger" value="Remise à zéro">
                        <input type="submit" class="btn btn-success" value="Valider">
                    </div>
                </div>
            </form>
            <div class="noShow" id="query_result">
                <div class="panel panel-info panel-full">
                    <div class="panel-heading">
                        <h3 class="panel-title">Résultat de la requête</h3>
                    </div>
                    <div class="panel-body panel-cont">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="showStruct">
            <div class="panel panel-info panel-full">
                <div class="panel-heading">
                    <h3 class="panel-title">INFORMATION SUR LA TABLE {{ t_name }}</h3>
                </div>
                <div class="panel-body" id="panel_body">
                    <button class="btn btn-success btn-sm btn-add-field"><i class="glyphicon glyphicon-plus-sign"></i>
                        Ajouter un champs
                    </button>
                    <button class="btn btn-danger btn-sm btn-delete-the-table"><i class="glyphicon glyphicon-trash"></i>
                        Supprimer la table
                    </button>
                    <button class="btn btn-primary btn-sm btn-rename-table"><i class="glyphicon glyphicon-edit"></i>
                        Renommer la table
                    </button>
                    <div class="marginTop20">
                        <table class="table table-striped table-bordered table-responsive tableaux">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Type</th>
                                <th>NULL</th>
                                <th>EXTRA</th>
                                <th>DEFAULT</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for struct in tables_struct %}
                                <tr>
                                    <td>
                                        <strong>{{ struct['COLUMN_NAME'] }}</strong>
                                        {% if struct['COLUMN_KEY'] == "PRI" %}
                                            (<i class="fa fa-key"></i>Clé primaire)
                                        {% elseif struct['COLUMN_KEY'] == "MUL" %}
                                            (#Clé étrangère)
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ struct['COLUMN_TYPE'] }}
                                        {% set type = struct['COLUMN_TYPE']|split('(') %}
                                    </td>
                                    <td>
                                        {% if struct['IS_NULLABLE'] == "YES" %}
                                            Oui
                                        {% else %}
                                            Non
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ struct['EXTRA'] }}
                                    </td>
                                    <td>
                                        {% if struct['COLUMN_DEFAULT'] is empty %}
                                            Aucune
                                        {% else %}
                                            {{ struct['COLUMN_DEFAULT'] }}
                                        {% endif %}
                                    </td>
                                    <td>
                                    <span class="btn btn-primary full-width btn-edit-field" name="{{ struct['COLUMN_NAME'] }}" field_type="{{ type[0] }}"><i class="glyphicon glyphicon-edit"></i></span>
                                        <div class="modal fade" data-backdrop="static" data-keyboard="false"
                                             id="modal_edit_field{{ struct['COLUMN_NAME'] }}" tabindex="-1"
                                             role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myModalLabel1">Editer le champs
                                                            <span class="text-info"></span></h4>
                                                    </div>
                                                    <form method="POST" action="" class="form_edit_field">
                                                        <div class="modal-body">
                                                            <table class="table table-bordered table-responsive marginTop20"
                                                                   id="tab_edit_field">
                                                                <thead>
                                                                <tr>
                                                                    <th>
                                                                        Nom
                                                                    </th>
                                                                    <th>
                                                                        Type
                                                                    </th>
                                                                    <th>
                                                                        Taille
                                                                    </th>
                                                                    <th>
                                                                        Null
                                                                    </th>
                                                                    <th>
                                                                        Default
                                                                    </th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td>
                                                                        {% if struct['COLUMN_KEY'] == "PRI" %}
                                                                            <input type="text" name="new_field_name"
                                                                                   class="form-control"
                                                                                   value="{{ struct['COLUMN_NAME'] }}"
                                                                                   readonly required="required">
                                                                        {% else %}
                                                                            <input type="text" name="new_field_name"
                                                                                   class="form-control"
                                                                                   value="{{ struct['COLUMN_NAME'] }}"
                                                                                   required="required">
                                                                        {% endif %}
                                                                        <input type="hidden" name="new_field_type"
                                                                               class="form-control"
                                                                               value="{{ type[0] }}">
                                                                        <input type="hidden" name="old_field_name"
                                                                               class="form-control">
                                                                    </td>
                                                                    <td>
                                                                        <select class="form-control" name="field_type"
                                                                                required="required">
                                                                            <option value="INT"
                                                                                    title="Un nombre entier de 4 octets. La fourchette des entiers relatifs est de -2 147 483 648 à 2 147 483 647. Pour les entiers positifs, c'est de 0 à 4 294 967 295">
                                                                                INT
                                                                            </option>
                                                                            <option value="VARCHAR"
                                                                                    title="Une chaîne de longueur variable (0-65,535), la longueur effective réelle dépend de la taille maximum d'une ligne">
                                                                                VARCHAR
                                                                            </option>
                                                                            <option value="TEXT"
                                                                                    title="Une colonne TEXT d'une longueur maximum de 65 535 (2^16 - 1) caractères, stockée avec un préfixe de deux octets indiquant la longueur de la valeur en octets">
                                                                                TEXT
                                                                            </option>
                                                                            <option value="DATE"
                                                                                    title="Une date, la fourchette est de «1000-01-01» à «9999-12-31»">
                                                                                DATE
                                                                            </option>
                                                                            <optgroup label="Numérique">
                                                                                <option value="TINYINT"
                                                                                        title="Un nombre entier de 1 octet. La fourchette des nombres avec signe est de -128 à 127. Pour les nombres sans signe, c'est de 0 à 255">
                                                                                    TINYINT
                                                                                </option>
                                                                                <option value="SMALLINT"
                                                                                        title="Un nombre entier de 2 octets. La fourchette des nombres avec signe est de -32 768 à 32 767. Pour les nombres sans signe, c'est de 0 à 65 535">
                                                                                    SMALLINT
                                                                                </option>
                                                                                <option value="MEDIUMINT"
                                                                                        title="Un nombre entier de 3 octets. La fourchette des nombres avec signe est de -8 388 608 à 8 388 607. Pour les nombres sans signe, c'est de 0 à 16 777 215">
                                                                                    MEDIUMINT
                                                                                </option>
                                                                                <option value="INT"
                                                                                        title="Un nombre entier de 4 octets. La fourchette des entiers relatifs est de -2 147 483 648 à 2 147 483 647. Pour les entiers positifs, c'est de 0 à 4 294 967 295">
                                                                                    INT
                                                                                </option>
                                                                                <option value="BIGINT"
                                                                                        title="Un nombre entier de 8 octets. La fourchette des nombres avec signe est de -9 223 372 036 854 775 808 à 9 223 372 036 854 775 807. Pour les nombres sans signe, c'est de 0 à 18 446 744 073 709 551 615">
                                                                                    BIGINT
                                                                                </option>
                                                                                <option disabled="disabled">-</option>
                                                                                <option value="DECIMAL"
                                                                                        title="Un nombre en virgule fixe (M, D) - le nombre maximum de chiffres (M) est de 65 (10 par défaut), le nombre maximum de décimales (D) est de 30 (0 par défaut)">
                                                                                    DECIMAL
                                                                                </option>
                                                                                <option value="FLOAT"
                                                                                        title="Un petit nombre en virgule flottante, la fourchette des valeurs est -3.402823466E+38 à -1.175494351E-38, 0, et 1.175494351E-38 à 3.402823466E+38">
                                                                                    FLOAT
                                                                                </option>
                                                                                <option value="DOUBLE"
                                                                                        title="Un nombre en virgule flottante double-précision, la fourchette des valeurs est -1.7976931348623157E+308 à -2.2250738585072014E-308, 0, et 2.2250738585072014E-308 à 1.7976931348623157E+308">
                                                                                    DOUBLE
                                                                                </option>
                                                                                <option value="REAL"
                                                                                        title="Synonyme de DOUBLE (exception : dans le mode SQL REAL_AS_FLOAT, c'est un synonyme de FLOAT)">
                                                                                    REAL
                                                                                </option>
                                                                                <option disabled="disabled">-</option>
                                                                                <option value="BIT"
                                                                                        title="Une colonne contenant des bits (M), stockant M bits par valeur (1 par défaut, maximum 64)">
                                                                                    BIT
                                                                                </option>
                                                                                <option value="BOOLEAN"
                                                                                        title="Un synonyme de TINYINT(1), une valeur de zéro signifie faux, une valeur non-zéro signifie vrai">
                                                                                    BOOLEAN
                                                                                </option>
                                                                                <option value="SERIAL"
                                                                                        title="Un alias pour BIGINT UNSIGNED NOT NULL AUTO_INCREMENT UNIQUE">
                                                                                    SERIAL
                                                                                </option>
                                                                            </optgroup>
                                                                            <optgroup
                                                                                    label="Contient la date et l'heure">
                                                                                <option value="DATE"
                                                                                        title="Une date, la fourchette est de «1000-01-01» à «9999-12-31»">
                                                                                    DATE
                                                                                </option>
                                                                                <option value="DATETIME"
                                                                                        title="Une combinaison date et heure, la fourchette est de «1000-01-01 00:00:00» à «9999-12-31 23:59:59»">
                                                                                    DATETIME
                                                                                </option>
                                                                                <option value="TIMESTAMP"
                                                                                        title="Un type d'horodatage, la fourchette est de «1970-01-01 00:00:01» UTC à «2038-01-09 03:14:07» UTC, en nombre de secondes depuis le moment de référence («1970-01-01 00:00:00» UTC)">
                                                                                    TIMESTAMP
                                                                                </option>
                                                                                <option value="TIME"
                                                                                        title="Une heure, la fourchette est de «-838:59:59» à «838:59:59»">
                                                                                    TIME
                                                                                </option>
                                                                                <option value="YEAR"
                                                                                        title="Une année à quatre chiffres (4 par défaut) ou à deux chiffres (2), la fourchette est de 70 (1970) à 69 (2069) ou 1901 à 2155 ainsi que 0000">
                                                                                    YEAR
                                                                                </option>
                                                                            </optgroup>
                                                                            <optgroup label="Chaîne de caractères">
                                                                                <option value="CHAR"
                                                                                        title="Une chaîne de longueur fixe (0-255, 1 par défaut) qui est toujours complétée à droite par des espaces lorsqu'enregistrée">
                                                                                    CHAR
                                                                                </option>
                                                                                <option value="VARCHAR"
                                                                                        title="Une chaîne de longueur variable (0-65,535), la longueur effective réelle dépend de la taille maximum d'une ligne">
                                                                                    VARCHAR
                                                                                </option>
                                                                                <option disabled="disabled">-</option>
                                                                                <option value="TINYTEXT"
                                                                                        title="Une colonne de type TEXT d'une longueur maximum de 255 (2^8 - 1) caractères, stockée avec un préfixe d'un octet indiquant la longueur de la valeur en octets">
                                                                                    TINYTEXT
                                                                                </option>
                                                                                <option value="TEXT"
                                                                                        title="Une colonne TEXT d'une longueur maximum de 65 535 (2^16 - 1) caractères, stockée avec un préfixe de deux octets indiquant la longueur de la valeur en octets">
                                                                                    TEXT
                                                                                </option>
                                                                                <option value="MEDIUMTEXT"
                                                                                        title="Une colonne TEXT d'une longueur maximum de 16 777 215 (2^24 - 1) caractères, stockée avec un préfixe de trois octets indiquant la longueur de la valeur en octets">
                                                                                    MEDIUMTEXT
                                                                                </option>
                                                                                <option value="LONGTEXT"
                                                                                        title="Une colonne TEXT d'une longueur maximum de 4 294 967 295 ou 4 GiB (2^32 - 1) caractères, stockée avec un préfixe de quatre octets indiquant la longueur de la valeur en octets">
                                                                                    LONGTEXT
                                                                                </option>
                                                                                <option disabled="disabled">-</option>
                                                                                <option value="BINARY"
                                                                                        title="Similaire au type CHAR, mais stocke des chaînes binaires au lieu de chaînes non binaires">
                                                                                    BINARY
                                                                                </option>
                                                                                <option value="VARBINARY"
                                                                                        title="Similaire au type VARCHAR, mais stocke des chaînes binaires au lieu de chaînes non binaires">
                                                                                    VARBINARY
                                                                                </option>
                                                                                <option disabled="disabled">-</option>
                                                                                <option value="TINYBLOB"
                                                                                        title="Une colonne BLOB d'une longueur maximum de 255 (2^8 - 1) octets, stockée avec un préfixe d'un octet indiquant la longueur de la valeur">
                                                                                    TINYBLOB
                                                                                </option>
                                                                                <option value="MEDIUMBLOB"
                                                                                        title="Une colonne BLOB d'une longueur maximum de 16 777 215 (2^24 - 1) octets, stockée avec un préfixe de trois octets indiquant la longueur de la valeur">
                                                                                    MEDIUMBLOB
                                                                                </option>
                                                                                <option value="BLOB"
                                                                                        title="Une colonne BLOB d'une longueur maximum de 65 535 (2^16 - 1) octets, stockée avec un préfixe de quatre octets indiquant la longueur de la valeur">
                                                                                    BLOB
                                                                                </option>
                                                                                <option value="LONGBLOB"
                                                                                        title="Une colonne BLOB d'une longueur maximum de 4 294 967 295 ou 4GiB (2^32 - 1), stockée avec un préfixe de quatre octets indiquant la longueur de la valeur">
                                                                                    LONGBLOB
                                                                                </option>
                                                                                <option disabled="disabled">-</option>
                                                                                <option value="ENUM"
                                                                                        title="Une énumération, choisie parmi une liste comportant jusqu'à 65 535 valeurs ou la valeur spéciale '' indiquant une erreur">
                                                                                    ENUM
                                                                                </option>
                                                                                <option value="SET"
                                                                                        title="Une valeur unique choisie parmi un ensemble comportant jusqu'à 64 membres">
                                                                                    SET
                                                                                </option>
                                                                            </optgroup>
                                                                        </select>
                                                                    </td>
                                                                    <td>
                                                                        {% set size = type[1]|split(')') %}
                                                                        <input type="text" name="new_field_size"
                                                                               class="form-control"
                                                                               value="{{ size[0] }}">
                                                                    </td>
                                                                    <td>
                                                                        <select class="form-control" name="new_isNull_name">
                                                                            <option {% if struct['IS_NULLABLE'] == "YES" %} selected="selected" {% endif %} value="YES">
                                                                                Oui
                                                                            </option>
                                                                            <option {% if struct['IS_NULLABLE'] != "YES" %} selected="selected" {% endif %}
                                                                                    value="NO">Non
                                                                            </option>
                                                                        </select>
                                                                    </td>
                                                                    <td>
                                                                        <select class="form-control"
                                                                                name="select_default_edit" id="sd_edit">
                                                                            <option >Aucune</option>
                                                                            <option value="def">Tel que défini :
                                                                            </option>
                                                                            <option value="NULL">NULL</option>
                                                                            <option value="CURRENT_TIMESTAMP">
                                                                                CURRENT_TIMESTAMP
                                                                            </option>
                                                                        </select>
                                                                        <input type="text" class="form-control input-sm marginTop20" name="select_default_edit" style="display: none" value="NULL"/>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <input type="hidden" name="name_db" value="{{ dbname }}">
                                                            <input type="hidden" name="tale_name" value="{{ t_name }}">
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">Fermer
                                                            </button>
                                                            <button type="submit" class="btn btn-success">Valider
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="btn btn-danger full-width btn-del-field" name="{{ struct["COLUMN_NAME"] }}"><i class="glyphicon glyphicon-trash"></i> </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal_rename_table" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel1">Renommer la table <span class="text-info">{{ t_name }}</span></h4>
                    </div>
                    <form method="POST" action="" id="form_rename_table">
                        <div class="modal-body">
                            <label>Nouveau nom pour la table</label>
                            <input type="text" id="new_table_name" class="form-control"
                                   placeholder="Nouveau nom de table">
                            <input type="hidden" name="name_db" value="{{ dbname }}">
                            <input type="hidden" name="table_name" value="{{ t_name }}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-success">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal_info" tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel2">Résultat</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal_delete_table" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title myModalLabel">Confirmation <i
                                    class="glyphicon glyphicon-question-sign"></i></h4>
                    </div>
                    <form method="POST" action="" class="form_delete_table">
                        <div class="modal-body">
                            Vous voulez vraiment suprimer <span class="text-info text-info_tbl">{{ t_name }}</span> ?
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="table_name_delete" value="{{ t_name }}">
                            <input type="hidden" name="name_db" value="{{ dbname }}">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
                            <button type="submit" class="btn btn-success">Oui</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal_delete_field" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title myModalLabel">Confirmation <i
                                    class="glyphicon glyphicon-question-sign"></i></h4>
                    </div>
                    <form method="POST" action="" class="form_delete_field">
                        <div class="modal-body">
                            Vous voulez vraiment suprimer ce champs <span class="text-info-del-field"></span> ?
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="name_field">
                            <input type="hidden" name="table_name_field" value="{{ t_name }}">
                            <input type="hidden" name="name_db" value="{{ dbname }}">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
                            <button type="submit" class="btn btn-success">Oui</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal_add_field" tabindex="-1"
             role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title myModalLabel">Confirmation <i
                                    class="glyphicon glyphicon-question-sign"></i></h4>
                    </div>
                    <form method="POST" action="" class="form_add_field">
                        <div class="modal-body">
                            Ajouter un champs <span class="text-info"></span>
                            <table class="table table-bordered table-responsive marginTop20 table-modal" id="tab_add_new_field">
                                <thead>
                                <th>
                                    Nom
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Taille
                                </th>
                                <th>
                                    Défaut
                                </th>
                                <th>
                                    Null
                                </th>
                                <th>
                                    Index
                                </th>
                                <th>
                                    A_I
                                </th>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" name="field_name"
                                               required="required"/>
                                    </td>
                                    <td>
                                        <select class="form-control" name="field_type_add">
                                            <option value="INT"
                                                    title="Un nombre entier de 4 octets. La fourchette des entiers relatifs est de -2 147 483 648 à 2 147 483 647. Pour les entiers positifs, c'est de 0 à 4 294 967 295">
                                                INT
                                            </option>
                                            <option value="VARCHAR"
                                                    title="Une chaîne de longueur variable (0-65,535), la longueur effective réelle dépend de la taille maximum d'une ligne">
                                                VARCHAR
                                            </option>
                                            <option value="TEXT"
                                                    title="Une colonne TEXT d'une longueur maximum de 65 535 (2^16 - 1) caractères, stockée avec un préfixe de deux octets indiquant la longueur de la valeur en octets">
                                                TEXT
                                            </option>
                                            <option value="DATE"
                                                    title="Une date, la fourchette est de «1000-01-01» à «9999-12-31»">
                                                DATE
                                            </option>
                                            <optgroup label="Numérique">
                                                <option value="TINYINT"
                                                        title="Un nombre entier de 1 octet. La fourchette des nombres avec signe est de -128 à 127. Pour les nombres sans signe, c'est de 0 à 255">
                                                    TINYINT
                                                </option>
                                                <option value="SMALLINT"
                                                        title="Un nombre entier de 2 octets. La fourchette des nombres avec signe est de -32 768 à 32 767. Pour les nombres sans signe, c'est de 0 à 65 535">
                                                    SMALLINT
                                                </option>
                                                <option value="MEDIUMINT"
                                                        title="Un nombre entier de 3 octets. La fourchette des nombres avec signe est de -8 388 608 à 8 388 607. Pour les nombres sans signe, c'est de 0 à 16 777 215">
                                                    MEDIUMINT
                                                </option>
                                                <option value="INT"
                                                        title="Un nombre entier de 4 octets. La fourchette des entiers relatifs est de -2 147 483 648 à 2 147 483 647. Pour les entiers positifs, c'est de 0 à 4 294 967 295">
                                                    INT
                                                </option>
                                                <option value="BIGINT"
                                                        title="Un nombre entier de 8 octets. La fourchette des nombres avec signe est de -9 223 372 036 854 775 808 à 9 223 372 036 854 775 807. Pour les nombres sans signe, c'est de 0 à 18 446 744 073 709 551 615">
                                                    BIGINT
                                                </option>
                                                <option disabled="disabled">-</option>
                                                <option value="DECIMAL"
                                                        title="Un nombre en virgule fixe (M, D) - le nombre maximum de chiffres (M) est de 65 (10 par défaut), le nombre maximum de décimales (D) est de 30 (0 par défaut)">
                                                    DECIMAL
                                                </option>
                                                <option value="FLOAT"
                                                        title="Un petit nombre en virgule flottante, la fourchette des valeurs est -3.402823466E+38 à -1.175494351E-38, 0, et 1.175494351E-38 à 3.402823466E+38">
                                                    FLOAT
                                                </option>
                                                <option value="DOUBLE"
                                                        title="Un nombre en virgule flottante double-précision, la fourchette des valeurs est -1.7976931348623157E+308 à -2.2250738585072014E-308, 0, et 2.2250738585072014E-308 à 1.7976931348623157E+308">
                                                    DOUBLE
                                                </option>
                                                <option value="REAL"
                                                        title="Synonyme de DOUBLE (exception : dans le mode SQL REAL_AS_FLOAT, c'est un synonyme de FLOAT)">
                                                    REAL
                                                </option>
                                                <option disabled="disabled">-</option>
                                                <option value="BIT"
                                                        title="Une colonne contenant des bits (M), stockant M bits par valeur (1 par défaut, maximum 64)">
                                                    BIT
                                                </option>
                                                <option value="BOOLEAN"
                                                        title="Un synonyme de TINYINT(1), une valeur de zéro signifie faux, une valeur non-zéro signifie vrai">
                                                    BOOLEAN
                                                </option>
                                                <option value="SERIAL"
                                                        title="Un alias pour BIGINT UNSIGNED NOT NULL AUTO_INCREMENT UNIQUE">
                                                    SERIAL
                                                </option>
                                            </optgroup>
                                            <optgroup label="Contient la date et l'heure">
                                                <option value="DATE"
                                                        title="Une date, la fourchette est de «1000-01-01» à «9999-12-31»">
                                                    DATE
                                                </option>
                                                <option value="DATETIME"
                                                        title="Une combinaison date et heure, la fourchette est de «1000-01-01 00:00:00» à «9999-12-31 23:59:59»">
                                                    DATETIME
                                                </option>
                                                <option value="TIMESTAMP"
                                                        title="Un type d'horodatage, la fourchette est de «1970-01-01 00:00:01» UTC à «2038-01-09 03:14:07» UTC, en nombre de secondes depuis le moment de référence («1970-01-01 00:00:00» UTC)">
                                                    TIMESTAMP
                                                </option>
                                                <option value="TIME"
                                                        title="Une heure, la fourchette est de «-838:59:59» à «838:59:59»">
                                                    TIME
                                                </option>
                                                <option value="YEAR"
                                                        title="Une année à quatre chiffres (4 par défaut) ou à deux chiffres (2), la fourchette est de 70 (1970) à 69 (2069) ou 1901 à 2155 ainsi que 0000">
                                                    YEAR
                                                </option>
                                            </optgroup>
                                            <optgroup label="Chaîne de caractères">
                                                <option value="CHAR"
                                                        title="Une chaîne de longueur fixe (0-255, 1 par défaut) qui est toujours complétée à droite par des espaces lorsqu'enregistrée">
                                                    CHAR
                                                </option>
                                                <option value="VARCHAR"
                                                        title="Une chaîne de longueur variable (0-65,535), la longueur effective réelle dépend de la taille maximum d'une ligne">
                                                    VARCHAR
                                                </option>
                                                <option disabled="disabled">-</option>
                                                <option value="TINYTEXT"
                                                        title="Une colonne de type TEXT d'une longueur maximum de 255 (2^8 - 1) caractères, stockée avec un préfixe d'un octet indiquant la longueur de la valeur en octets">
                                                    TINYTEXT
                                                </option>
                                                <option value="TEXT"
                                                        title="Une colonne TEXT d'une longueur maximum de 65 535 (2^16 - 1) caractères, stockée avec un préfixe de deux octets indiquant la longueur de la valeur en octets">
                                                    TEXT
                                                </option>
                                                <option value="MEDIUMTEXT"
                                                        title="Une colonne TEXT d'une longueur maximum de 16 777 215 (2^24 - 1) caractères, stockée avec un préfixe de trois octets indiquant la longueur de la valeur en octets">
                                                    MEDIUMTEXT
                                                </option>
                                                <option value="LONGTEXT"
                                                        title="Une colonne TEXT d'une longueur maximum de 4 294 967 295 ou 4 GiB (2^32 - 1) caractères, stockée avec un préfixe de quatre octets indiquant la longueur de la valeur en octets">
                                                    LONGTEXT
                                                </option>
                                                <option disabled="disabled">-</option>
                                                <option value="BINARY"
                                                        title="Similaire au type CHAR, mais stocke des chaînes binaires au lieu de chaînes non binaires">
                                                    BINARY
                                                </option>
                                                <option value="VARBINARY"
                                                        title="Similaire au type VARCHAR, mais stocke des chaînes binaires au lieu de chaînes non binaires">
                                                    VARBINARY
                                                </option>
                                                <option disabled="disabled">-</option>
                                                <option value="TINYBLOB"
                                                        title="Une colonne BLOB d'une longueur maximum de 255 (2^8 - 1) octets, stockée avec un préfixe d'un octet indiquant la longueur de la valeur">
                                                    TINYBLOB
                                                </option>
                                                <option value="MEDIUMBLOB"
                                                        title="Une colonne BLOB d'une longueur maximum de 16 777 215 (2^24 - 1) octets, stockée avec un préfixe de trois octets indiquant la longueur de la valeur">
                                                    MEDIUMBLOB
                                                </option>
                                                <option value="BLOB"
                                                        title="Une colonne BLOB d'une longueur maximum de 65 535 (2^16 - 1) octets, stockée avec un préfixe de quatre octets indiquant la longueur de la valeur">
                                                    BLOB
                                                </option>
                                                <option value="LONGBLOB"
                                                        title="Une colonne BLOB d'une longueur maximum de 4 294 967 295 ou 4GiB (2^32 - 1), stockée avec un préfixe de quatre octets indiquant la longueur de la valeur">
                                                    LONGBLOB
                                                </option>
                                                <option disabled="disabled">-</option>
                                                <option value="ENUM"
                                                        title="Une énumération, choisie parmi une liste comportant jusqu'à 65 535 valeurs ou la valeur spéciale '' indiquant une erreur">
                                                    ENUM
                                                </option>
                                                <option value="SET"
                                                        title="Une valeur unique choisie parmi un ensemble comportant jusqu'à 64 membres">
                                                    SET
                                                </option>
                                            </optgroup>
                                            <optgroup label="Spatial">
                                                <option value="GEOMETRY"
                                                        title="Un type pouvant stocker une valeur géométrique de tout type">
                                                    GEOMETRY
                                                </option>
                                                <option value="POINT"
                                                        title="Un point dans un espace à deux dimensions">POINT
                                                </option>
                                                <option value="LINESTRING"
                                                        title="Une courbe avec une interpolation linéaire entre les points">
                                                    LINESTRING
                                                </option>
                                                <option value="POLYGON" title="Un polygone">POLYGON</option>
                                                <option value="MULTIPOINT" title="Une collection de points">
                                                    MULTIPOINT
                                                </option>
                                                <option value="MULTILINESTRING"
                                                        title="Une collection de courbes avec l'interpolation linéaire entre les points">
                                                    MULTILINESTRING
                                                </option>
                                                <option value="MULTIPOLYGON" title="Une collection de polygones">
                                                    MULTIPOLYGON
                                                </option>
                                                <option value="GEOMETRYCOLLECTION"
                                                        title="Une collection d'objets de géométrie de tout type">
                                                    GEOMETRYCOLLECTION
                                                </option>
                                            </optgroup>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control field_size" name="field_size"
                                               data="NV"/>
                                    </td>
                                    <td>
                                        <select class="form-control" name="select_default_add" id="sd">
                                            <option selected="selected">Aucune</option>
                                            <option value="def">Tel que défini :</option>
                                            <option value="NULL">NULL</option>
                                            <option value="CURRENT_TIMESTAMP">CURRENT_TIMESTAMP</option>
                                        </select>
                                        <input type="text" class="form-control input-sm noShow marginTop20"
                                               name="default" value="NULL"/>
                                    </td>
                                    <td class="w100">
                                        <select class="form-control" name="is_null">
                                            <option value="no" selected="selected">Non</option>
                                            <option value="yes">Oui</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control" name="select_index">
                                            <option selected="selected" value="NULL">---</option>
                                            <option value="PRIMARY">PRIMARY</option>
                                            <option value="UNIQUE">UNIQUE</option>
                                        </select>
                                    </td>
                                    <td class="w100">
                                        <select class="form-control" name="is_ai">
                                            <option value="no" selected="selected">Non</option>
                                            <option value="yes">Oui</option>
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="name_field">
                            <input type="hidden" name="table_name_field" value="{{ t_name }}">
                            <input type="hidden" name="name_db" value="{{ dbname }}">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
                            <button type="submit" class="btn btn-success">Oui</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}